h1 { 
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.row .input-field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,-50%);
}
